* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(245, 109, 109);
}
.navbar {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.logo img {
  border-radius: 50%;
}

.nav_list {
  display: flex;
  flex-direction: row;
  margin-right: 150px;
}

.nav_list p {
  margin-top: 20px;
  padding-right: 10px;
}
